/* Desktop responsive */
@media (min-width: 900px) {
    body {
        display: block;
    }

    .app-container {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        padding: 0;
    }

    .calculator {
        position: static;
        overflow: visible;

        max-width: none;
        flex-grow: 1;
        flex-basis: 0;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 20px 40px;
    }

    .grid-container {
        height: 100%;
    }

    #history-toggle,
    #backdrop-overlay,
    #history-overlay-mobile {
        display: none !important;
    }

    #history-overlay-desktop {
        display: block;
        position: static;
        transform: none;
        visibility: visible;
        opacity: 1;
        box-shadow: none;

        flex-basis: 350px;
        flex-shrink: 0;
        height: 100vh;

        border-radius: 0;
        border-left: 1px solid var(--border-button);
        background-color: var(--bg-overlay);
        padding: 20px;
        overflow-y: auto;
    }

    #history-overlay-desktop h2 {
        display: block;
        color: var(--text-overlay-header);
        margin-top: 0;
        border-bottom: 1px solid var(--border-button);
        padding-bottom: 10px;
    }

    .calculator-header {
        font-size: 2.5rem;
        font-weight: 600;
        height: auto;
        padding-top: 10px;
    }

    .toggle-container {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    #theme-toggle img,
    #history-toggle img {
        width: 32px;
        height: 32px;
    }

    #history-overlay {
        position: static;
        transform: none;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        flex-basis: 350px;
        flex-shrink: 0;
        height: 100%;
        border-radius: 0;
        border-left: 1px solid var(--border-button);
        background-color: var(--bg-overlay);
    }

    #history-overlay h2 {
        display: block;
        color: var(--text-overlay-header);
        margin-top: 0;
        border-bottom: 1px solid var(--border-button);
        padding-bottom: 10px;
    }

    #history-toggle,
    #backdrop-overlay {
        display: none !important;
    }
}
